---
import config from "@data/configuration"
import SectionHeading from "./SectionHeading.astro"
---
{
    config.otherInformation && 
    <section>
        <SectionHeading title="Other Information" />
        <div>
            {
                config.otherInformation.map((info)=>(
                    <p>◗ {info}</p>
                ))
            }
        </div>
    </section>
}