---
import config from "@data/configuration"
import dayjs from "dayjs"
import { Icon } from 'astro-icon/components'
import SectionHeading from "./SectionHeading.astro"
---


{ config.education && 
  <section>
    <SectionHeading title="Publications" />
    <div class="space-y-6">
    {
        config.publications.map((pub)=>
        <div>
            <p class="leading-none font-medium">
                {pub.name}
            </p>
            <p class="text-sm text-secondary mb-0.5">
                {pub.publisher}
            </p>
            <div class="flex flex-wrap gap-2 sm:gap-4 text-secondary/80 text-[0.8rem]">
                <div class="flex flex-row items-center leading-none">
                    <Icon name="pin" class="mr-1"/>
                    {pub.location}
                </div>
                <div class="flex flex-row items-center leading-none">
                    <Icon name="calendar" class="mr-1"/>
                    {dayjs(pub.publicationDate).format('MMM YYYY')}
                </div>
            </div>
        </div>
    )}
    </div>
  </section>
}

