---
import SectionHeading from "./SectionHeading.astro";
import config from "@data/configuration";
---
{
    config.onlinePresence.linkedInURL && 
    <section>
        <SectionHeading title="Professional Development" />
        <p class="leading-none">
            See <a href={config.onlinePresence.linkedInURL} class="underline">LinkedIn</a> for a list of completed courses.
        </p>
    </section>
}