---
import SectionHeading from "./SectionHeading.astro";
---
{
    <section>
        <SectionHeading title="References" />
        <p class="leading-none">
            Professional and academic references are available upon request.
        </p>
    </section>
}