---
import config from '@data/configuration';
import TheHeader from '../components/TheHeader.astro';
import Layout from '../layouts/Layout.astro';
import TheFooter from '@/components/TheFooter.astro';
---

<Layout>
	<TheHeader name='Tej Birring' />

	<main class="px-4 print:p-0 mt-2 mb-10 max-w-screen-lg flex flex-col gap-6">

		<p class="text-center text-primary my-4">
			I am curious about <span class="font-serif font-semibold text-lg">Tej</span> the...
		</p>

		<div class="grid grid-flow-row sm:grid-cols-2 gap-8 px-1 sm:px-4">
            {
                config.branches.map((branch)=>(
                    <a 
						class="bg-tertiary-2/10 text-primary cursor-pointer p-4 rounded-xl hover:scale-105 outline outline-2 outline-offset-0 outline-tertiary-2 hover:shadow-tertiary-2 hover:shadow-lg active:shadow-none active:scale-100 active:outline-none active:blur-sm transition-all flex flex-row items-center justify-center"
						href={branch.url}	
					>
						<div class="flex flex-col gap-4 items-center">
							<branch.icon className='size-24'/>
							<span class="text-center font-serif tracking-wide text-lg font-semibold">{branch.title}</span>
						</div>
						
                    </a>
                ))
            }
         </div>

	</main>

	<TheFooter />
</Layout>

