---
import config from "@data/configuration"
import Marquee from "./Marquee.astro"
---
<header class="print:px-0 pt-2 print:pt-0 pb-4 max-w-screen-lg">
    <div class="flex flex-col justify-between items-center mb-3">
        <h1 class="text-5xl sm:text-8xl font-serif font-medium small-caps mt-2 mb-3 tracking-widest text-center">
            { config.name }
        </h1>
    </div>

    <Marquee
    containerClass="bg-tertiary-1 py-1"
>
    {
        config.headlines.map((headline)=>(
            <span class="px-12">
                { headline }
            </span>
        ))
    }
</Marquee>  
</header>
