---
import "../styles/base.css"
import { AstroFont } from "astro-font";
import config from "../data/configuration"

interface Props {
	pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle ? `${config.name}'s CV – ${pageTitle}` : `${config.name}'s CV`}</title>
		<!-- Fonts -->
		<AstroFont
		config={[
		  {
			name: "Noto Serif",
			src: [],
			googleFontsURL: "https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap",
			preload: true,
			display: "swap",
			selector: "body",
			fallback: "serif",
		  },
		  {
			name: "Nunito Sans",
			src: [],
			googleFontsURL: "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap",
			preload: true,
			display: "swap",
			selector: "body",
			fallback: "sans-serif"
		  }
		]}
	  />		 
	</head>
	<body class="bg-light">
		<slot />
	</body>
</html>

